<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="referrer" content="never">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>主页</title>
</head>
<style>
    .myrow{
        display: flex;
        flex-direction:row;
        justify-content:flex-start;
    }
    .cover{
        width: 150px;
        height: 200px;
    }
    .singleline{
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
    }
    .activity-cover{
        height: 400px;
    }
</style>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand">野麦</a>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{'/index'}">首页</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{'/act'}">活动</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{'/moments'}">麦圈</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" th:action="@{/search}" method="post">
            <input class="form-control mr-sm-2" name="key" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            <a class="nav-link" style="color: white" th:text="${userName}" th:href="@{'/user/'+${userId}}">userName</a>
        </form>
    </div>
</nav>
<div class="container-fluid" style="padding: 70px">
    <div class="myrow" >
        <div style="width: 200px">
            <li class="nav-item active">
                <a class="nav-link" style="color: slategrey" th:href="@{'/userCenter'}">个人中心</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" style="color: slategrey" th:href="@{'/friends'}">麦友</a>
            </li>
        </div>

        <div style="padding-top: 30px;width: 900px">
            <h4 style="color: seagreen">麦友列表</h4>
            <div th:each="friend:${friends}">
                <div th:switch="${friend.getState()}">
                    <div th:case="'2'">
                        <hr>
                            <div th:each="user:${users}">
                                <div th:switch="${user.getUserId()}">
                                    <div th:case="${friend.getFriendId()}">
                                        <div style="flex-direction:row;justify-content: space-between">
                                            <h5 style="color: darkgoldenrod;font-weight: bold;text-decoration-line: none;text-align: left" th:text="${user.getUserName()}"></h5>
                                            <h6 style="color: slategray;font-weight: bold;text-decoration-line: none;text-align: left" th:text="${user.getUserSummary()}"></h6>
                                            <div style="text-align:right">
                                                <a class="btn" style="background-color: brown;color: white;text-align: right" th:href="@{'/delete/'+${friend.getUserId()}+'/'+${user.getUserId()}}">删除</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="width: 150px">
            <h5 style="color: seagreen">    </h5>
        </div>

        <div style="padding-top: 30px;width: 500px">
            <h5 style="color: seagreen">麦友申请</h5>
            <div th:each="friend:${friends}">
                <div th:switch="${friend.getState()}">
                    <div th:case="'0'">
                        <hr>
                        <div th:each="user:${users}">
                            <div th:switch="${user.getUserId()}">
                                <div th:case="${friend.getFriendId()}">
                                        <div style="flex-direction:row;justify-content: space-between">
                                            <p style="color: dimgray" th:text="${user.getUserName()}"></p>
                                            <div style="text-align:right">
                                                <a class="btn" style="background-color: seagreen;color: white" th:href="@{'/agree/'+${friend.getUserId()}+'/'+${user.getUserId()}}">同意</a>
                                                <a class="btn" style="background-color: brown;color: white" th:href="@{'/disagree/'+${friend.getUserId()}+'/'+${user.getUserId()}}">忽略</a>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>