<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <title>排行榜</title>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-4">
            <div class="media">
                <div class="media-left" >
                    <img class="center-block" src="https://yemai.oss-cn-beijing.aliyuncs.com/img/trophy.svg" class="media-object" style="width:60px">
                </div>
                <div class="media-body" class="text-center">
                    <h3>好友阅读排行榜(月度)</h3>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" style="width: 800px">
    <table class="table">
        <thead>
        <tr>
            <th>排名</th>
            <th>昵称</th>
            <th>已阅(本)</th>
        </tr>
        </thead>
        <tbody>
        <tr class="success">
            <td>1</td>
            <td>麦子027</td>
            <td>5</td>
        </tr>
        <tr class="success">
            <td>2</td>
            <td>麦子036</td>
            <td>3</td>
        </tr>
        <tr  class="success">
            <td>3</td>
            <td>麦子052</td>
            <td>2</td>
        </tr>
        <tr  class="danger">
            <td>4</td>
            <td>麦子048</td>
            <td>0</td>
        </tr>
        </tbody>
    </table>
</div>

<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>